# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Prabhat Jha
	email = prabhat143@gmail.com

[push]
  default = current

[pull]
  rebase = true

[branch]
  autosetuprebase = always

[color]
  ui = auto

[alias]
  up = !git fetch --all --prune && git rebase
